<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>423520422471-6cfqoh5vsn8o4a2m01tutjc0euqrks1t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.423520422471-6cfqoh5vsn8o4a2m01tutjc0euqrks1t</string>
	<key>API_KEY</key>
	<string>AIzaSyAFEItGc2ho7qVBz4sxe6_YOC_IXt2Svp4</string>
	<key>GCM_SENDER_ID</key>
	<string>423520422471</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gogesh.users</string>
	<key>PROJECT_ID</key>
	<string>gogesh-74c2c</string>
	<key>STORAGE_BUCKET</key>
	<string>gogesh-74c2c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:423520422471:ios:febd0160f82e051dc8ff62</string>
</dict>
</plist>